<div>
    <div class="card">
        <h1>{{content.title}}</h1>
    
        <div *ngIf="content.imgUrl">
          <strong>image:</strong>
          <img src="{{content.imgUrl}}" width="150" height="150" (click)="handleClick(content)" alt="{{content.title}}" />
        </div>
    
    
        <div>
          <strong>description:</strong>
          {{content.description}}
        </div>
    
          <strong>creator:</strong>
          {{content.creator}}
        </div>
    
        <div *ngIf="content.type">
          <strong>type:</strong>
          {{content?.type}}
        </div>
    
        <div *ngIf="content.tags">
          <strong>tags:</strong>
    
          <div>
            <span *ngFor="let tagItem of content.tags;" class="badge">
              {{tagItem}}
            </span>
          </div>
        </div>
      </div>